.header {
  background-color: var(--primary-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.header-action-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
}

.header-action-box img {
  padding: 16.8px 19.8px;
}

.header-action-box span {
  padding-left: 20.8px;
}

.header-user-name {
  padding-right: 40px;
}

.header-btn-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
}
