.home-content {
  padding: 22px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.empty-data p {
  text-align: center;
}

.empty-data img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .home-content {
    padding: 98px;
    gap: 48px
  }
}
