.card {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 30.55px 23px 35px 23px;
  width: 382px;
  height: 282px;
  position: relative;
  margin-bottom: 20px;
}

.card h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--primary-gray);
  padding-bottom: 22.22px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--tertiary-gray);
}

.card > button {
  position: absolute;
  top: 14px;
  right: 15px;
}

.label-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
}

@media (min-width: 769px) {
  .card {
    margin-bottom: 0;
  }
}
